{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "API Paperless New Version",
        "description": "Application Programming Interface",
        "license": {
            "name": "MIT",
            "url": "https://uatpaperless.one.th"
        }
    },
    "host": "uatpaperless.one.th",
    "basePath": "/devppl",
    "tags": [{
        "name": "User",
        "description": "ระบบจัดการข้อมูลบุคคล"
    },{
        "name": "Transaction",
        "description": "จัดการเพิ่มและอัพเดทข้อมูลเอกสาร"
    },{
        "name": "Document",
        "description": "ดึงข้อมูลเอกสาร"
    }],
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/authen/api/v1/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "description": "Login เข้าสู่ระบบ",
                "parameters": [{
                    "name": "Json",
                    "in": "body",
                    "description": "",
                    "schema": {
                        "$ref": "#/definitions/User"
                    }
                }],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "New user is created",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            }
        },
        "/public/api/v1/GetDocument": {
            "post": {
                "tags": [
                    "Document"
                ],
                "description": "Get All Document Datetime Range,TaxId",
                "parameters": [{
                    "name": "Json",
                    "in": "body",
                    "description": "",
                    "schema": {
                        "$ref": "#/definitions/GetDocument"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Users"
                        }
                    }
                }
            }
        },
        "/user/{id}": {
            "parameters": [{
                "name": "id",
                "in": "path",
                "required": true,
                "description": "ID of user that we want to find",
                "type": "integer"
            }],
            "delete": {
                "summary": "Delete user with given ID",
                "tags": [
                    "Users"
                ],
                "responses": {
                    "200": {
                        "description": "User is deleted",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            },
            "put": {
                "summary": "Update user with give ID",
                "tags": [
                    "Users"
                ],
                "parameters": [{
                    "name": "user",
                    "in": "body",
                    "description": "User with new values of properties",
                    "schema": {
                        "$ref": "#/definitions/updateUser"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "User is updated",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "required": [
                "username",
                "password"
            ],
            "properties": {
                "username": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                }
            }
        },
        "GetDocument": {
            "required": [
                "token",
                "tax_id",
                "dtm_start",
                "dtm_end",
                "document_type"
            ],
            "properties": {
                "token": {
                    "type": "string"
                },
                "tax_id": {
                    "type": "string"
                },
                "dtm_start": {
                    "type": "integer"
                },
                "dtm_end":{
                    "type": "integer"
                },
                "document_type": {
                    "type": "string"
                }

            }
        },
        "Users": {
            "type": "array",
            "$ref": "#/definitions/User"
        }

    }
}